<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773777200859-qm867nact73tdcem84l322cs7sq8jim9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773777200859-qm867nact73tdcem84l322cs7sq8jim9</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjsMeb7R9Y9BdP1eBm6lNCAtomKMOnTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>773777200859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sample-DesignCode</string>
	<key>PROJECT_ID</key>
	<string>design-code-635e1</string>
	<key>STORAGE_BUCKET</key>
	<string>design-code-635e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773777200859:ios:2245e0addc1e9ae20f9efe</string>
	<key>DATABASE_URL</key>
	<string>https://design-code-635e1.firebaseio.com</string>
</dict>
</plist>